@keyframes mymove {
    from {top:1080px;}
    to {top: 0px;}
}
@keyframes status {
     0% {opacity: 0;}
  
    50% {opacity: 1;}
  
    100% {opacity: 0;}
}
.todobox{
  width :200px;
  margin-left:3%; 
  margin-top:10px; 
  border: 1px solid grey;
  border-radius:4px; 
}
.todobutton{
    position: relative;
    width:100px;
    margin: 2px;
    margin-top: 5px;
    border: 2px solid green;
    background: #DFDFDF;
    border-radius: 5px;
    margin-left:27%;    
}
.listToDo{
animation-name: mymove;
animation-duration: 1s;
position: relative;
left:3%;   
}
.msgbox{
    animation-name: status;
    opacity: 1;
    position: absolute;
    top: 90%;
    left:25%;
    padding: auto;
    animation-duration: 2s;
    border: 10% solid yellow;
    background: lightcoral;
    display: block;
    margin: auto;
    text-align: center;
    width:50%;
    
    border-radius: 6px;
}


