@keyframes mymove {
  from {top:1080px;}
  to {top: 0px;}
}
.boxStructure{
   
    width :400px;
    height: 180px;
    background: lightyellow;
   margin: 5px;
    border-radius:12px; 
    margin-top: 5px;
    padding:1px;
  }
  .animation{
    animation-name: mymove;
    animation-duration: 2s;
    position: relative;
  }
  .green {
    background: greenyellow;
}
.editbox{
  width :400px;
  margin: 5px;
  height: 180px;
  border: 2px solid lightsalmon;
  border-radius:12px; 
  margin-top: 5px;
  padding:1px;
  background: lightseagreen;

}